# Python Topics Revision

In [43]:
def moveZeroes(nums):
        """
        :type nums: List[int]
        :rtype: void Do not return anything, modify nums in-place instead.
        """
        l = len(nums)
        i = 0
        while i < l:
            if nums[i] == 0:
                print("hi")
                nums.append(nums.pop(i))
                print(nums)
                l -= 1
            else:
                i += 1

In [46]:
A = [6, 0, 8, 2,0, 3, 0, 4, 0, 1]
print(A)
moveZeroes(A)

[6, 0, 8, 2, 0, 3, 0, 4, 0, 1]
hi
[6, 8, 2, 0, 3, 0, 4, 0, 1, 0]
hi
[6, 8, 2, 3, 0, 4, 0, 1, 0, 0]
hi
[6, 8, 2, 3, 4, 0, 1, 0, 0, 0]
hi
[6, 8, 2, 3, 4, 1, 0, 0, 0, 0]

In [ ]:
def moveZeroes(nums):
        """
        :type nums: List[int]
        :rtype: void Do not return anything, modify nums in-place instead.
        """
        l = len(nums)
        i = 0
        while i < l:
            if nums[i] == 0:
                print("hi")
                nums.append(nums.pop(i))
                print(nums)
                l -= 1
            else:
                i += 1

In [38]:
A = [6, 0, 8, 2,0, 3, 0, 4, 0, 1]

print(A.count(0))

X = [i for i in A if i != 0]
print(X)

for i in range(A.count(0),len(A)):
    A[i]=0
print(A)

4
[6, 8, 2, 3, 4, 1]
[6, 0, 8, 2, 0, 0, 0, 0, 0, 0]

In [16]:
A = [6, 0, 8, 2,0, 3, 0, 4, 0, 1]


def move_zeroo(new_list):
    index=0
    for item in new_list:
        if item:
            new_list[index]=item
            index=index+1
        print(new_list)  
        print(index)
    for i in range(index,len(new_list)):
        new_list[i]=0
    print(new_list)

In [17]:
move_zeroo(A)

[6, 0, 8, 2, 0, 3, 0, 4, 0, 1]
1
[6, 0, 8, 2, 0, 3, 0, 4, 0, 1]
1
[6, 8, 8, 2, 0, 3, 0, 4, 0, 1]
2
[6, 8, 2, 2, 0, 3, 0, 4, 0, 1]
3
[6, 8, 2, 2, 0, 3, 0, 4, 0, 1]
3
[6, 8, 2, 3, 0, 3, 0, 4, 0, 1]
4
[6, 8, 2, 3, 0, 3, 0, 4, 0, 1]
4
[6, 8, 2, 3, 4, 3, 0, 4, 0, 1]
5
[6, 8, 2, 3, 4, 3, 0, 4, 0, 1]
5
[6, 8, 2, 3, 4, 1, 0, 4, 0, 1]
6
[6, 8, 2, 3, 4, 1, 0, 0, 0, 0]

In [177]:
new_tuple=("jan","feb","march","april") # imutable
new_tuple

('jan', 'feb', 'march', 'april')

In [178]:
new_tuple[0]="dec"

TypeError: 'tuple' object does not support item assignment

In [180]:
new_dict={
    "jack":123,
    "sam":3423,
    "king":773,
    "student_list":["a","b","c"]
}
new_dict

{'jack': 123, 'sam': 3423, 'king': 773, 'student_list': ['a', 'b', 'c']}

In [181]:
for key in new_dict.keys():
    print(new_dict[key])

123
3423
773
['a', 'b', 'c']

In [185]:
for key in new_dict.keys():
    print(key)

jack
sam
king
student_list

In [186]:
for key in new_dict.items():
    print(key)

('jack', 123)
('sam', 3423)
('king', 773)
('student_list', ['a', 'b', 'c'])

In [209]:
# Create a dictionary out of below inputs
lst1 = ['emp1', 'emp2', 'emp3']
# emp_key = ['e_name', 'e_id', 'e_sal']
# emp1_val = ['John', 'SG101', '$10,000']
# emp2_val = ['Smith', 'SG102', '$9,000']
# emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}

lst = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

for i in [emp1_val,emp2_val,emp3_val]:
    dic = dict(zip(lst,[dict(zip(emp_key, i))]))
    print(dic)

['John', 'SG101', '$10,000']
{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}}
['Smith', 'SG102', '$9,000']
{'emp1': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}}
['Peter', 'SG103', '$9,500']
{'emp1': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [ ]:
lst = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']


dic = dict(zip(lst, [dict(zip(emp_key, i)) for i in [emp1_val,emp2_val,emp3_val]]))
print(dic)

In [210]:
lst = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']


d1=dict(zip(emp_key,emp1_val))
d2=dict(zip(emp_key,emp2_val))
d3=dict(zip(emp_key,emp3_val))
d4={}
d4.update({lst1[0]:d2})
d4.update({lst1[1]:d2})
d4.update({lst1[2]:d3})
d4

{'emp1': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'},
 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'},
 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [205]:
d1=dict(zip(emp_key,emp1_val))
d2=dict(zip(emp_key,emp2_val))
d3=dict(zip(emp_key,emp3_val))
final_dict={}

final_dict["emp1"]=d1
final_dict["emp2"]=d2
final_dict["emp3"]=d3
final_dict

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'},
 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'},
 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [ ]:
def swap_values(dict1,dict2,key):
    dict1[key]=dict2.get(key)

In [216]:
import random
# random.seed(345)
for i in range(5):
    random.seed(45)
    print(random.randint(1,100))

35
35
35
35
35

In [239]:
new_list=[[34,2],[244,3],[35,11],[90,12]]

final_list=[]
for index,item in enumerate(new_list):
    if index==1 or index==3:
        final_list.append(item[0])
        final_list.append(item[1])
        new_list[1]=final_list
new_list.pop(2)
print(new_list)

[[34, 2], [244, 3, 90, 12], [90, 12]]

In [241]:
new_list=[]
for i in range(1,20):
    if i%2==0:
        new_list.append(i)
        
new_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [243]:
#syntax ---[exp loop condition]
new_list=[i for i in range(1,20) if i%2==0]
new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [248]:
new_dict={i:i+2 for i in range(10)}
new_dict

{0: 2, 1: 3, 2: 4, 3: 5, 4: 6, 5: 7, 6: 8, 7: 9, 8: 10, 9: 11}

In [217]:
import random
random.seed(45)
for i in range(5):
    print(random.randint(1,100))

35
54
63
33
11

In [ ]:
Write a function that converts a dictionary back to its sparse vector representation.
    1. In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})

      Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]

In [263]:
import numpy as np
a = np.arange(8).reshape((2,2,2))

print(a)
np.trace(a)

[[[0 1]
  [2 3]]

 [[4 5]
  [6 7]]]

array([6, 8])

In [264]:
arr = np.array([[[1, 2], [2, 3], [3, 4]], [
               [4, 5], [4, 5], [3, 4]], [[5, 6], [4, 5], [4, 5]]])


np.trace(arr)

array([ 9, 12])

In [265]:
import numpy as np

# creating an array
myarray = np.arange(9).reshape((3,3))

# implementing the diag() function 
sumdiag = np.trace(myarray, dtype = float)

print(myarray)
print(sumdiag)

[[0 1 2]
 [3 4 5]
 [6 7 8]]
12.0

In [268]:
new=[1, 2, 2, 6, 99, 99, 7]

for i in range(len(new)):
    print(new[i])

1
2
2
6
99
99
7

In [266]:
company:
    
1st and 2nd --python coding rounds
ML
DL
NLP
AWS
PROJECTS
CERTFICATE

SyntaxError: invalid syntax (519095390.py, line 1)

In [ ]:
ML:
    
Algos

4 lines of code

from sklearn.model import SVM
obj=LR()
 
obj.fit()

obj.predict()

In [250]:
def convertDictionary(mydict):
    mysparsematrix=[]
    myindex=0
    for mykeyindex in mydict:
        if mykeyindex!=myindex:
            for j in range(mykeyindex-myindex):
                mysparsematrix.append(0)
                myindex+=1
        if mykeyindex==myindex:
            mysparsematrix.append(mydict[mykeyindex])
            myindex+=1
    return (mysparsematrix)

inputdict={0: 1, 3: 2, 7: 3, 12: 4}
retmatrix=convertDictionary(inputdict)
print (retmatrix)

0
3
7
12
[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]

In [ ]:
1.know the basic and its working and the concept
2.and than solve problem....

In [208]:
lst = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']


dic = dict(zip(lst, [dict(zip(emp_key, i)) for i in [emp1_val,emp2_val,emp3_val]]))
dic

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'},
 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'},
 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [202]:
#convert 
df["col"]=df.fillna(df["col"].mean())

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [193]:
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']
emp1=dict(zip(emp_key,emp1_val))
emp2=dict(zip(emp_key,emp2_val))
emp3=dict(zip(emp_key,emp3_val))
lst2=[emp1,emp2,emp3]
dep_detail=dict(zip(lst1,lst2))
dep_detail

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'},
 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'},
 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [174]:
 import pandas as pd
 inp = [{'c1':10, 'c2':100}, {'c1':11,'c2':110}, {'c1':12,'c2':120}]
 df = pd.DataFrame(inp)
df.head()

   c1   c2
0  10  100
1  11  110
2  12  120

In [176]:
for i in range(len(df)):
    row = df.iloc[[i]]
    print(row)

   c1   c2
0  10  100
   c1   c2
1  11  110
   c1   c2
2  12  120

In [168]:
salary=10000000

if salary>100000:
    print("Iphone")
else:
    print("Redmi")

Iphone

In [162]:
f_name="abhishek"
l_name="karma"

print(f_name+" "+l_name)

abhishek karma

In [166]:
name="paul"

print(name*5)

paulpaulpaulpaulpaul

In [114]:
name="apple"

#[indexvalue]
print(name[-4])

p

In [120]:
address="There is law in state"
print(address)

There is law in state

In [161]:
name+address

'applei live in indore'

In [160]:
import sys

sys.getsizeof(name)

54

In [136]:
# 1st [inclusive:exclusive]
# 2nd [inclusive:] -- from index till the end it will slice
# 3rd [:exlusive] -slice from start till exclusive
# 4th [inclusive:exclusive:jump]

law

In [151]:
x="apple"
y=x[2]
print(id(x))
print(id(x[0]))

140698862567344
140698751534192

In [171]:
address="i live in indore live"
print(address)
index_value=address.rindex("live")
print(index_value)
slice_result=address[index_value]
print(slice_result)

i live in indore live
17
l

In [149]:
address

'There is law in state'

In [150]:
address[::5]

'T a e'

In [148]:
address[::-2]

'easn a ieeT'

In [147]:
address[::2]

'Teei a nsae'

In [140]:
address[9:22]

'law in state'

In [142]:
address[9:22:3]

'l  a'

In [132]:
address[:9]

'There is '

In [131]:
address[9:]

'law in state'

In [128]:
address[16:25]

'state'

In [110]:
print(name.index("p"))

1

In [111]:
id(name)

140698862567344

In [98]:
name[7]

IndexError: string index out of range

In [87]:
n=a+3j

In [88]:
type(n)

complex

In [90]:
addres="Hi this is king"

type(addres)

str

In [74]:
print("Hi this i\'s jack")
print("Hi this i\t jack")

Hi this i's jack
Hi this i	 jack

In [77]:
docstr="""hey
hoeareyou"""

print(len(docstr))

print(docstr)


char1="hey\nhoeareyou"
print(char1)
print(len(char1))

13
hey
hoeareyou
hey
hoeareyou
13

In [56]:
if age \
> 18:
    print("Hi i am inside if")
    print("Byeee")

print("End")

End

In [ ]:
loops
class
functions
if

In [53]:
for i in range(3):
    print("Hello")
    print("jack")
print("Sam")

Hello
jack
Hello
jack
Hello
jack
Sam

In [2]:

import keyword

print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [18]:
docstr="""hey
hoeareyou"""
len(docstr)
13
>>> docstr
'hey\nhoeareyou'
>>> char1="\n"
>>> len(char1)
1
>>> str4=input("press the Enter key:")
press the Enter key:
>>> char1==str4
False

SyntaxError: invalid syntax (514222145.py, line 1)

In [15]:
class employee:
    """
    This class is for employee
    """
    pass

In [16]:
employee.__doc__

'\n    This class is for employee\n    '

In [12]:
def add_two_numbers(first_number,second_number):
    """
    This function is used to add two numbers and 
    returns the result
    """
    return first_number+second_number

In [14]:
add_two_numbers.__doc__

'\n    This function is used to add two numbers and \n    returns the result\n    '

In [13]:
add_two_numbers(2,3)

5

In [59]:
print(len(keyword.kwlist))

36

In [9]:
# asdasdasd declaring interets rates

"""
hey
How are you
"""
print("asd")

asd

In [7]:

HOME_LOAN_INTEREST=7.4

print(HOME_LOAN_INTEREST)

7.4

In [2]:
LENGTH = 5
length = 10
LENGTH = length + 5
print(LENGTH)

15

In [91]:
LENGTH = 5
length = 10
LENGTH = length + 5
print(LENGTH)

15

In [90]:
id(lengtH)

140364849748592

In [89]:
id(lenght)

140364849749840

In [88]:
id(LENGTH)

140364849749680

In [75]:
PI=3.14

INTEREST_RATE = 7.4

In [62]:
no_of_students=36

In [61]:
salary=2333.45

print(salary)

2333.45

In [ ]:
def calculate_salary():
    pass

In [45]:
class employee:
    pass

In [39]:
age=10

name="jack"




salary=45000.50
flag=True
height=None
gst=2.8

In [40]:
type(name)

str

In [38]:
len(name)

5

In [9]:
add="Mumbai near marine drive"

In [8]:
add

'Mumbai near marine drive'